

.one{
    width: 400px;
    height: 400px;
}
.two{
    font-weight: lighter;
    font-family:'Times New Roman', Times,

}
.three{
    width: 100px;
    height:200px;
}
.four{
    
        font-weight: bold;
        font-family:'Times New Roman', Times,
    

}
.five{
   font-size: larger;
   
}


    





